<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>e-analitics</title>
</head>
<body>
    <!-- <h1>Home</h1> -->
    <form action="/scrape" method="post" class="search-form-scr">

        <p id="menu-icon" onclick="showMenu()">Menu</p>

        <div id="menu" style="display: none; cursor: pointer;">

            <div id="categoryId">

                <p class="close-menu" onclick="showMenu()">X</p>   

                    <p onclick="showCat(1)">Elektronika, komputery i biuro</p>

                    <div id="accordion-content-1" class="accordion-content" style="display: none;">
                        <div>
                            <h1 onclick="showCat(1)"><</h1>
                            <h4>Elektronika</h4>
                        </div>
                        <p onclick="setSubCat('electronics&rh=n%3A20788252031')">Telefony komórkowe i smartfony</p>
                        <p onclick="setSubCat('electronics&rh=n%3A20788253031')">Słuchawki i akcesoria</p>
                        <p onclick="setSubCat('electronics&rh=n%3A20788257031')">Aparaty i fotografia</p>
                        <p onclick="setSubCat('electronics&rh=n%3A20788265031')">Kina domowe, telewizory i odtwarzacze</p>
                        <p onclick="setSubCat('electronics&rh=n%3A20788264031')">Hi-Fi i domowy sprzęt audio</p>
                        <h4>Komputery</h4>
                        <p onclick="setSubCat('computers&rh=n%3A20788299031')">Komputery stacjonarne</p>
                        <p onclick="setSubCat('computers&rh=n%3A20788292031', 'Laptopy')">Laptopy</p>
                        <p onclick="setSubCat('computers&rh=n%3A20788300031')">Tablety</p>
                        <p onclick="setSubCat('computers&rh=n%3A20788294031')">Monitory</p>
                        <p onclick="setSubCat('computers&rh=n%3A20788301031')">Akcesoria komputerowe</p>
                        <p onclick="setSubCat('computers&rh=n%3A20788298031')">Podzespoły i części komputerowe</p>
                        <p onclick="setSubCat('computers&rh=n%3A20788303031')">Przechowywanie danych</p>
                        <p onclick="setSubCat('software&rh=n%3A20659426031')">Oprogramowanie</p>
                        <p onclick="setSubCat('computers&rh=n%3A20788293031')">Drukarki i akcesoria</p>
                        <p onclick="setSubCat('computers&rh=n%3A20788297031')">Skanery i akcesoria</p>
                        <h4>Biuro</h4>
                        <p onclick="setSubCat('office-products&rh=n%3A20854635031')">Artykuły biurowe</p>
                        <p onclick="setSubCat('office-products&rh=n%3A20854636031')">Długopisy, ołówki i materiały do pisania</p>
                        <p onclick="setSubCat('office-products&rh=n%3A20854632031')">Materiały szkolne i edukacyjne</p>
                        <p onclick="setSubCat('office-products&rh=n%3A20854631031')">Artykuły papiernicze</p>
                        <p onclick="setSubCat('computers&rh=n%3A20788584031')">Tusze, atramenty, tonery i taśmy</p>
                        <p onclick="setSubCat('office-products&rh=n%3A20854630031')">Elektronika biurowa</p>
                        <p onclick="setSubCat('electronics&')"></p>
                    </div>

                    <p onclick="showCat(2)">Dom i Ogród</p>
                    <div id="accordion-content-2" class="accordion-content" style="display: none;">
                        <div>
                            <h1 onclick="showCat(2)"><</h1>
                            <h4>Dom i Kuchnia</h4>
                        </div>
                        <p onclick="setSubCat('home&rh=n%3A20853159031', 'Garnki i patelnie', 2)">Garnki i patelnie</p>
                        <p onclick="setSubCat('home&rh=n%3A20853010031')">Zastawa stołowa</p>
                        <p onclick="setSubCat('home&rh=n%3A20853014031')">Przybory i gadżety kuchenne</p>
                        <p onclick="setSubCat('home&rh=n%3A20852960031')">Meble</p>
                        <p onclick="setSubCat('home&rh=n%3A20852956031')">Sprzęt AGD</p>
                        <p onclick="setSubCat('home&rh=n%3A20852961031')">Dekoracje i wystrój wnętrz</p>
                        <p onclick="setSubCat('home&rh=n%3A20852957031')">Pościel</p>
                        <p onclick="setSubCat('home&rh=n%3A20852964031')">Łazienka</p>
                        <p onclick="setSubCat('home&rh=n%3A20852963031')">Pranie, przechowywanie i organizowanie</p>
                        <p onclick="setSubCat('home&rh=n%3A20852962031')">Odkurzacze i sprzęt do sprzątnia</p>
                        <h4>Renowacja domu</h4>
                        <p onclick="setSubCat('home-improvement&rh=n%3A20784174031')">Oświetlenie</p>
                        <p onclick="setSubCat('home-improvement&rh=n%3A20784170031')">Artykuły budowlane</p>
                        <p onclick="setSubCat('home-improvement&rh=n%3A20784171031')">Narzędzia </p>
                        <p onclick="setSubCat('home-improvement&rh=n%3A20784162031')">Bezpieczeństwo</p>
                        <p onclick="setSubCat('home-improvement&rh=n%3A20784164031')">Wyposażenie kuchni i łazienki</p>
                        <p onclick="setSubCat('home-improvement&rh=n%3A20784169031')">Materiały do malowania i tapetowania</p>
                        <h4>Ogród</h4>
                        <p onclick="setSubCat('garden&rh=n%3A20855078031')">Meble ogrodowe i akcesoria</p>
                        <p onclick="setSubCat('garden&rh=n%3A20855086031')">Dekoracje ogrodowe</p>
                        <p onclick="setSubCat('garden&rh=n%3A20855088031')">Grillowanie i piknikowanie</p>
                        <p onclick="setSubCat('garden&rh=n%3A20855076031')">Narzędzia ogrodowe</p>
                        <p onclick="setSubCat('')"></p>
                    </div>

                    <p onclick="showCat(3)">Dziecko, zabawki i gry</p>
                    <div id="accordion-content-3" class="accordion-content" style="display: none;">
                        <div>
                            <h1 onclick="showCat(3)"><</h1>
                            <h4 onclick="superToys()">Zabawki i gry</h4>
                        </div>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861477031', 'Figurki do zabaw', 3)">Figurki do zabaw</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861473031', 'Gry i akcesoria do gier', 3)">Gry i akcesoria do gier</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861471031', 'Lalki i akcesoria', 3)">Lalki i akcesoria</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861480031', 'Maskotki i pluszaki', 3)">Maskotki i pluszaki</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861468031', 'Pacynki i teatrzyki kukiełkowe', 3)">Pacynki i teatrzyki kukiełkowe</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861472031', 'Plastyka', 3)">Plastyka</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861464031', 'Pojazdy zabawkowe', 3)">Pojazdy zabawkowe</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861467031', 'Produkty do zabawy w przebieranki i udawanie', 3)">Produkty do zabawy w przebieranki i udawanie</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861465031', 'Puzzle, łamigłówki i akcesoria', 3)">Puzzle, łamigłówki i akcesoria</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861476031', 'Sport i turystyka', 3)">Sport i turystyka</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861469031', 'Śmieszne i nowatorskie zabawki', 3)">Śmieszne i nowatorskie zabawki</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861475031', 'Zabawki dla małych dzieci i niemowląt', 3)">Zabawki dla małych dzieci i niemowląt</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861474031', 'Zabawki do nauki i edukacji', 3)">Zabawki do nauki i edukacji</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861479031', 'Zabawki elektroniczne', 3)">Zabawki elektroniczne</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861478031', 'Zabawki kolekcjonerskie', 3)">Zabawki kolekcjonerskie</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861470031', 'Zabawki konstrukcyjne i do budowania', 3)">Zabawki konstrukcyjne i do budowania</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861466031', 'Zabawkowe instrumenty muzyczne', 3)">Zabawkowe instrumenty muzyczne</p>
                        <p onclick="setSubCat('toys&rh=n%3A20659660031%2Cn%3A20861484031', 'Zdalnie sterowane zabawki', 3)">Zdalnie sterowane zabawki</p>
                        <h4 onclick="superBaby()">Dziecko</h4>
                        <p onclick="setSubCat('fashion&rh=n%3A20849017031', 'Odzież i obuwie', 3)">Odzież i obuwie</p>
                        <p onclick="setSubCat('baby&rh=n%3A20806748031', 'Foteliki samochodowe i akcesoria', 3)">Foteliki samochodowe i akcesoria</p>
                        <p onclick="setSubCat('baby&rh=n%3A20806764031', 'Nianie elektroniczne', 3)">Nianie elektroniczne</p>
                        <p onclick="setSubCat('baby&rh=n%3A20806749031', 'Nosidełka dla dzieci', 3)">Nosidełka dla dzieci</p>
                        <p onclick="setSubCat('baby&rh=n%3A20806743031', 'Karmienie dziecka', 3)">Karmienie dziecka</p>
                        <p onclick="setSubCat('baby&rh=n%3A20806747031', 'Wózki, spacerówki i akcesoria', 3)">Wózki, spacerówki i akcesoria</p>
                        <p onclick="setSubCat('baby&rh=n%3A20806745031', 'Pokój dziecięcy', 3)">Pokój dziecięcy</p>
                        <p onclick="setSubCat('baby&rh=n%3A20806740031', 'Przewijanie niemowląt', 3)">Przewijanie niemowląt</p>
                    </div>

            </div>

        </div>

    </form>

    <div class="container">
        <div class="flex-row-jc-center vis-head">
            <h1>📊 Scraping offers...</h1>
            <input type="hidden" name="category" id="selectedCat" placeholder="Kategoria">
            <input type="text" name="title" placeholder="Szukaj" id="title">

            <select name="filter_by" id="filter">
                <option id="sel_opt" value="price" disabled selected>Wybierz filtr</option>
                <option value="price">Cena</option>
                <option value="reviews">Popularność</option>
                <option value="rating">Ocena</option>
            </select>
            
            <input type="hidden" name="category_name" id="selectedCatName" placeholder="Nazwa Kategorii">
            <!-- <input type="hidden" name="category" id="selectedCat" placeholder="Kategoria">
            <input type="text" name="title" id="title" placeholder="Produkt"> -->

            <button type="submit" id="search-btn" onclick="startScrape()">Go</button>
        </div>
    </div>

    <!-- <script src="/static/js/visualization.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/axios@1.9.0/dist/axios.min.js"></script>

    <script>

        function showMenu() {
            const subContent = document.getElementById('menu');

            if (subContent.style.display === "none" || subContent.style.display === "") {
                subContent.style.display = "block";
            } else {
                subContent.style.display = "none";
            }
        }
        
        function showCat(number) {
            const subContent = document.getElementById(`accordion-content-${number}`);

            if (subContent.style.display === "none" || subContent.style.display === "") {
                subContent.style.display = "block";
            } else {
                subContent.style.display = "none";
            }
        }

        function setSubCat(category, catName, number) {
            console.log('selected category:', category)
            document.getElementById("selectedCat").value = category;
            document.getElementById("selectedCatName").value = catName;
            showCat(number);
            showMenu();
            startScrape();
        }

        function startScrape() {

            var title = document.getElementById('title').value;
            var category = document.getElementById("selectedCat").value;
            var selectedCatName = document.getElementById('selectedCatName').value;
            var filter = document.getElementById('filter').value;
            console.log('title', title);
            console.log('category:', category);

            window.location.href = `/scrape/${category}?title=${title}&category_name=${selectedCatName}&filter_by=${filter}`;
        }

        async function superToys () {
            console.log('superCat START')
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861477031?title=''&category_name=Figurki do zabaw&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861473031?title=''&category_name=Gry i akcesoria do gier&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861471031?title=''&category_name=Lalki i akcesoria&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861480031?title=''&category_name=Maskotki i pluszaki&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861468031?title=''&category_name=Pacynki i teatrzyki kukiełkowe&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861472031?title=''&category_name=Plastyka&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861464031?title=''&category_name=Pojazdy zabawkowe&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861467031?title=''&category_name=Produkty do zabawy w przebieranki i udawanie&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861465031?title=''&category_name=Puzzle, łamigłówki i akcesoria&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861476031?title=''&category_name=Sport i turystyka&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861469031?title=''&category_name=Śmieszne i nowatorskie zabawki&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861475031?title=''&category_name=Zabawki dla małych dzieci i niemowląt&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861474031?title=''&category_name=Zabawki do nauki i edukacji&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861479031?title=''&category_name=Zabawki elektroniczne&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861478031?title=''&category_name=Zabawki kolekcjonerskie&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861470031?title=''&category_name=Zabawki konstrukcyjne i do budowania&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861466031?title=''&category_name=Zabawkowe instrumenty muzyczne&filter_by=reviews}`);
            await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861484031?title=''&category_name=Zdalnie sterowane zabawki&filter_by=reviews}`);
            // await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861471031?title=''&category_name= &filter_by=reviews}`);

            showMenu();
        }

        async function superBaby() {
            await axios.get(`/scrape/fashion&rh=n%3A20849017031?title=''&category_name=Odzież i obuwie&filter_by=reviews}`);
            await axios.get(`/scrape/baby&rh=n%3A20806748031?title=''&category_name=Foteliki samochodowe i akcesoria&filter_by=reviews}`);
            // await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861471031?title=''&category_name= &filter_by=reviews}`);
            // await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861471031?title=''&category_name= &filter_by=reviews}`);
            // await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861471031?title=''&category_name= &filter_by=reviews}`);
            // await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861471031?title=''&category_name= &filter_by=reviews}`);
            // await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861471031?title=''&category_name= &filter_by=reviews}`);
            // await axios.get(`/scrape/toys&rh=n%3A20659660031%2Cn%3A20861471031?title=''&category_name= &filter_by=reviews}`);
        }
    </script>
</body>
</html>